html{margin: 0px;}
body{
    font-family: 'Kaushan Script'; /*cambia fuente a una importada desde el enlace */
    font-weight: normal;/*estilo de fuente pueden ser negritas en si es grueso de fuente*/
    margin: 0px;
}
.header{
    background-color: #2469A0;
    color:white;
    padding: 1%;
}
.container-heder{
    border-color: gray;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 0px;
}
ol{
    display: flex;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hero{
    /*height: 150px; /*alto*/
    background-color: #10BCE2 ;
    /* background-image: url('../image/hero2.jpg'); /*agrega imagen*/
    /*background-size: 50% 100%; /*tamaño de imagen de fondo ancho y alto*/
    /*background-repeat: no-repeat;/*no se repite la imagen de fondo*/
    /*background-position: right;/*pocicion de imagen de fondo*/
    padding: 1%;
    

}
.container-hero{
    display: flex;
    flex-wrap: wrap;/*hace que los elementos caigan cuando no caben*/
    justify-content: space-between;/*acomodo de los elementos hace que se pegen hacia los lados*/
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 15px;
    position: relative; /*para que la imagen se sejete ahi*/
    overflow: hidden; /*desbordamiento de la imagen*/
}
.foto-hero{
    width: 50%; /*ancho del 50% de su contendeor*/
}
.link{
    color: white; /*color de los links blancos*/
    text-decoration: none;/*quta el subrrayado*/
    margin: 4px;
}
h1{
    font-family: Courgette;/*fuente*/
    line-height: 150%; /*alto de linea*/
    margin-top: 0px; /*margen arriba*/
}
.container-proyectos{
    border-style: solid; /*estilo de borde*/
    border-width: 2px;/*tamaño de borde*/
    border-color: gray;/*color del borde*/
    border-radius: 4px; /*borde redondeado*/
    
}
.project{
    display: flex;
    justify-content: space-between;
}
.project-details{
    width: 50%; /*tamaño 50% de la pocicion horizontal*/
}
.prohject-imageContainer{
    width: 50%;/*tamaño 50% de la pocicion horizontal*/
    margin: 16px;
}
.contact{
    border-width: 1px; /*tamaño del borde*/
    border-style: solid;
    border-color: gray;
    
}
