body{
    font-family: 'Kaushan Script'; /*cambia fuente a una importada desde el enlace */
    font-weight: normal;/*estilo de fuente pueden ser negritas en si es grueso de fuente*/
}
.header{
    background-color: #2469A0;
    color:white;
}
.hero{
    height: 50%;
    background-color: #10BCE2 ;
    background-image: url('../image/hero2.jpg'); /*agrega imagen*/
    
}
.link{
    color: white; /*color de los links blancos*/
    text-decoration: none;/*quta el subrrayado*/
}
h1{
    font-family: Courgette;
    line-height: 150%; /*alto de linea*/
}
.project-details{
    width: 50%; /*tamaño 50% de la pocicion horizontal*/
}
.prohject-imageContainer{
    width: 50%;/*tamaño 50% de la pocicion horizontal*/
}
